<!doctype html>
<html lang="es" class="h-100">
<head>
	meta(charset='utf-8')
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="¡Esta es la página principal de Sandwich World!">
	<meta name="author" content="Martín Mercado">
	<!-- <meta name="generator" content="Hugo 0.80.0"> -->
	<title>Sandwich World!</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<!-- Custom styles for this template -->
	<link href="css/index.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="mb-auto">
	<div>
	<h3 class="float-md-start mb-0">Sandwich World!</h3>
	<nav class="nav nav-masthead justify-content-center float-md-end">
		<a class="nav-link active" aria-current="page" href="#">Home</a>
		<a class="nav-link" href="#">Features</a>
		<a class="nav-link" href="#">Contact</a>
	</nav>
	</div>
</header>

<main class="px-3">
	<h1>Bienvenido</h1>
	<p class="lead">Es una página donde puedes consultar distintos tipos de sandwiches. 
	| ¡Busca sandwiches que no conocías o tus favoritos!</p>
	<p class="lead">
	<a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
	</p>
</main>

<footer class="mt-auto text-white-50">
	<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>
</div>


</body>
</html>